<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="menu-lateral">
		<div class="aw-layout-sidebar__content">

    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">

        <li class="aw-menu__item">
          <a href="/atendimento/cadastrar"><i class="fa  fa-fw  fa-home"></i><span>Cadastro de Atendimentos</span></a>
          <a href="/atendimento/listar"><i class="fa  fa-fw  fa-home"></i><span>Lista de Atendimentos</span></a>
        </li>

<!--         <li class="aw-menu__item"> -->
<!--           <a href="#"> -->
<!--             <i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span> -->
<!--             <i class="aw-menu__navigation-icon  fa"></i> -->
<!--           </a> -->
      
<!--           <ul class="aw-menu__list  aw-menu__list--sublist"> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="/home">Home</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="/usuario/novo">Cadastro de Usuario</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="/cidade/novo">Cadastro de Cidade</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="/estilo/novo">Cadastro de Estilo</a></li> -->
<!--           </ul> -->
<!--         </li> -->

<!--         <li class="aw-menu__item"> -->
<!--           <a href="#"> -->
<!--             <i class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span> -->
<!--             <i class="aw-menu__navigation-icon  fa"></i> -->
<!--           </a> -->

<!--           <ul class="aw-menu__list  aw-menu__list--sublist"> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Página vazia</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="login.html">Login</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="esqueceu-a-senha.html">Esqueceu a senha</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li> -->
<!--             <li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li> -->
<!--           </ul> -->
<!--         </li> -->

      </ul>
    </nav>

		</div>
	</aside>
</body>
</html>