<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
	<title>Cadastro de Atendimento</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/uikit.min.css}" />
</head>
<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">
					<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de Atendimento
					</h1>
				</div>
			</div>
	
			<div class="container-fluid">
			
			<div th:replace="fragments/mensagens-sucesso-salvar :: sucesso-save"></div>

			<form th:action="@{/atendimento/relatorio/excel}">
			
				<div style="margin: 15px">
					<label>Data de: &nbsp;</label>
					<input type="date" name="dataInicial" id="dataInicial" required="required">
					<label>&nbsp; Até: &nbsp;</label>
					<input type="date" name="dataFinal" required="required">
				
					<button type="submit" style="display: contents;">
						<img alt="Download Excel" src="/icons/xls.png" style="padding-left: 10px">
					</button> 
				</div>
			</form>
				
					<nav aria-label="Page navigation example" style="text-align: center;">
					  <ul class="pagination justify-content-center">
					    <li th:class="${atendimentos.isFirst()} ? 'page-item hidden' : 'page-item'">
					      <a class="page-link" th:href="@{/atendimento/listar(page=${atendimentos.number-1})}" tabindex="-1">Prev</a>
					    </li>
					    <li class="page-item">
					    	<span class="page-link" th:text="|${atendimentos.number+1} de ${(atendimentos.totalPages == 0) ? 1 : atendimentos.totalPages}|"></span>
					    </li>
					    <li th:class="${atendimentos.isLast()} ?  'page-item hidden' : 'page-item'">
					      <a class="page-link" th:href="@{/atendimento/listar(page=${atendimentos.number+1})}">Next</a>
					    </li>
					  </ul>
					</nav>
				<div class="table-responsive">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Fisioterapeuta</th>
					      <th scope="col">Aluno</th>
					      <th scope="col">Tipo do atendimento</th>
					      <th scope="col">Data do atendimento</th>
					      <th style="width: 50px;"></th>
					      <th style="width: 50px;"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="atendimento : ${atendimentos}">
					      <td th:text="${atendimento.nomeFisioterapeuta}"></td>
					      <td th:text="${atendimento.nomeAluno}"></td>
					      <td th:text="${atendimento.tipoAtendimento}"></td>
					      <td th:text="${#temporals.format(atendimento.dataAtendimento, 'dd/MM/yyyy HH:mm')}"></td>
					      <td><a th:href="@{'/atendimento/editar/'+${atendimento.id}}"><button type="button" class="btn btn-warning">Editar</button></a></td>
					      <td><a th:href="@{'/atendimento/deletar/'+${atendimento.id}+'/'+${atendimentos.number+1}}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
			<input type="text" hidden="true" name="pgnumber">
	</section>
</body>
</html>