<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
	<title>Cadastro de Atendimento</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/uikit.min.css}" />
</head>
<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">
					<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de Atendimento
					</h1>
				</div>
			</div>
	
			<div class="container-fluid">
				
				<div class="table-responsive">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Fisioterapeuta</th>
					      <th scope="col">Aluno</th>
					      <th scope="col">Tipo do atendimento</th>
					      <th scope="col">Data do atendimento</th>
					      <th style="width: 50px;"></th>
					      <th style="width: 50px;"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="atendimento : ${atendimentos}">
					      <td th:text="${atendimento.nomeFisioterapeuta}"></td>
					      <td th:text="${atendimento.nomeAluno}"></td>
					      <td th:text="${atendimento.tipoAtendimento}"></td>
					      <td th:text="${#temporals.format(atendimento.dataAtendimento, 'dd/MM/yyyy HH:mm')}"></td>
					      <td><a th:href="@{'/atendimento/editar/'+${atendimento.id}}"><button type="button" class="btn btn-warning">Editar</button></a></td>
					      <td><a th:href="@{'/atendimento/deletar/'+${atendimento.id}}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				
			</div>
	</section>
</body>
</html>